.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_login {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label_login {
    margin-bottom: 0;
}
  
.form_login .input_login {
    width: 95%;
    height: 30px;
    padding: 22px;
    border: 1px solid #000;
    font-size: 16px;
}

.input_login:focus {
    border: 3px solid #0075FF;
    outline: none;
}

.diviconsLogin {
    position: relative;
    z-index: 90;
    width: 95%;
}

.input {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transform: .3s ease all;
}

.input:focus {
    border: 3px solid #0075FF;
    outline: none;
}

#id{
    position: absolute;
    right: 17px;
    bottom: 30px;
    z-index: 100;
    font-size: 22px;
}

.button {
    margin-top: 0;
}

.pLogin {
    color: red;
    font-weight: 600;
    font-size: 18px;
}



@media (max-width: 400px) {
    
    .diviconsLogin {
        right: 10px;
    }
    
}