.divNavBar {
    background-color: #000;
}

.divInputViernes {
    margin: 0 30% 0 30%;
}

.divLoading {
    display: flex;
    justify-content: center;
}

.divTitle {
    display: flex;
    justify-content: center;
}

.title_table {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #2980B9;
}

.divTable {
    overflow: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    color: #000;
}

.th, .td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.th {
    background-color: #fff;
}

.button {
    margin: 20px;
    background-color: #fff;
    color: #000;
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 600px) {
    
    .title_table {
        padding: 0;
        margin-bottom: 10px;
    }

    .divInputViernes {
        margin: 0 10% 0 10%;
    }
}